<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Index Page</h1>
    <p>if you are reading this, you are displaying the index ejs file</p>
    <ul class="model1Data">
        <%model1.arr.forEach((i) => {%>
            <li><a href="/data/<%i%>"><%=i%></a></li>
        <%});%>
    </ul>
</body>
</html>