<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Index Page</h1>
    <p>if you are reading this, you are displaying the index ejs file <br>here is the data listed:</p>
    <ul class="dataModel1">
        <%dataModel1.forEach((i) => {%>
            <li><a href="/data"></a><%=i%></li>
        <%});%>
    </ul>
    <p>here is the data structure:</p>
    
</body>
</html>